<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div>
        <a href="http://127.0.0.1:8000/admin/">ADMIN</a>
        <a href="http://127.0.0.1:8000/user-api/register/"> REGISTER</a>
        <a href="http://127.0.0.1:8000/user-api/list/"> LIST USERS</a>
        <a href="http://127.0.0.1:8000/user-api/delete/"> DELETE USERS</a>
        <a href="http://127.0.0.1:8000/user-api/login/"> LOGIN</a>
        <a href="http://127.0.0.1:8000/user-api/content/"> CONTENT</a>
        <a href="http://127.0.0.1:8000/user-api/resetpass/"> RESET PASSWORD</a>
        <a href="http://127.0.0.1:8000/user-api/sendmail/"> MAIL SEND</a>
        <a href="http://127.0.0.1:8000/user-api/user/"> USER INFO</a>
    </div>
</body>
</html>
